<div>
    <h1>Resources</h1>
    <hr />
    <div>
        <h3>Human Resources</h3>
        <ul>
            <li>Director of Project Management: $192/hr</li>
            <li>Director of Software Development: $192/hr</li>
            <li>Project Manager: $65/hr</li>
            <li>Business Analyst: $55/hr</li>
            <li>Architect: $75/hr</li>
            <li>10 Developers: Avg. $50/hr</li>
            <li>2 Quality Engineers: Avg. $30/hr</li>
            <li>Systems Administrator: $35/hr</li>
        </ul>
    </div>

    <div>
        <img src="../../assets/project-documents/KU_Bookstore_WBS-WithAssignments.png" />
        <img class="gantt" src="../../assets/project-documents/KU_Bookstore-gantt-assigned.png" />
    </div>
</div>