@use "_constants" as constants;

.app-container {
  .title-bar {
    display: flex;
    flex-direction: row;
    background-color: constants.$title-bar-color;
    width: 100%;
    justify-content: space-between;

    .logo {
      width: 8rem;
    }
  }

  .application {
    display: flex;
    justify-content: center;
    margin: auto;

    .homepage {
      height: 85vh;
      width: 100%;
      background-image: url("../assets/splash.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 50%;
    }
  }
}
