<h1>Project Definition</h1>
<div>
  <h2>👁VISION</h2>
  <p>
    Our vision is to not only approve on the current KU Bookstore functionality
    but create additional relevant content. Functionally relevancy and student
    aid are key to this goal, rather than pure profit center model.
  </p>
  <h2>🚀 MISSION</h2>
  <p>
    Our Mission is to unite students around the KU Bookstore as a foundation,
    rather than a burden. Streamlined Payment Process Merchandise upgrade &
    Features Student Services
  </p>
  <h2>🔮 STRATEGIES</h2>
  <p>
    Shape the KU Bookstore website into a pro-student offering. If the KU
    Bookstore operated pro-student, then local third-party stores would not
    exist. The KU Bookstore needs to match and exceed what is provided by
    third-party venues.
  </p>
  <h3>Strategic Goals</h3>
  <p>
    Streamlined Payment Process Merchandise Upgrades & Features Pro-Student
    Services
  </p>

  <h2>💖 STUDENT VALUE</h2>
  <table pTable>
    <tr>
      <td>Easy Payment Process</td>
      <td>Multiple Payment Methods</td>
    </tr>
    <tr>
      <td>Simulated Merchandise Previews</td>
      <td>Ticket Sales</td>
    </tr>
    <tr>
      <td>Automatic Price Matching</td>
      <td>Product based on Major</td>
    </tr>
    <tr>
      <td>Discount Hub</td>
      <td>Community Hub</td>
    </tr>
    <tr>
      <td>In-text Book Search</td>
      <td>Outdoor Pick-up/Drop-Off</td>
    </tr>
    <tr>
      <td>Online Signup</td>
      <td>Feedback Functionality</td>
    </tr>
  </table>
</div>
