div{
  margin: 50px;
}

tr,
td {
  padding: 10px;
}

.profile {
  display: flex;
  padding: 20px;

  img {
    width: auto;
    height: 300px;

    &.rectangle {
        width: auto;
        height: 600px;
    }
  }

  .details {
    padding: 20px;
    text-align: center;

    li{
        text-align: left;
    }
  }
}
