<h1>Requirements</h1>
<hr />
<div>
  <ol>
    <li>
      <h4>Ease of Use</h4>
    </li>
    <ol>
      <li><b>Responsiveness:</b> The site should be responsive to the screen size. The following sizes should be
        utilized:
        <ul>
          <li>Desktop -1920×1080</li>
          <li>Tablet - 1366×768</li>
          <li>Mobile - 640×360</li>
        </ul>
      </li>
      <li><b>Browser Compatibility: </b>The site should be compatible with the following evergreen browsers:
        <ul>
          <li>Chrome</li>
          <li>Edge</li>
          <li>Firefox </li>
          <li>Safari</li>
        </ul>
      </li>
      <li><b>Navigation: </b> The menu should provide categories of pages. Links to individual pages should be listed in
        the sub-menu. The menu layout should be:
        <ul>
          <li>Apparel</li>
          <ul>
            <li>Men</li>
            <li>Women</li>
            <li>Lifestyle</li>
            <li>Students</li>
          </ul>
          <li>Events</li>
          <ul>
            <li>Calendar</li>
            <li>Tickets</li>
          </ul>
          <li>Books</li>
          <ul>
            <li>Book Search</li>
            <li>Order</li>
          </ul>
          <li>Services</li>
          <ul>
            <li>Printing</li>
            <li>Engraving</li>
          </ul>
          <li>Community Hub</li>
        </ul>

        <p>Additionally, the site should contain the following items in the navigation bar</p>
        <ul>
          <li>Search</li>
          <li>Cart</li>
          <li>Account Login</li>
        </ul>
      </li>
      <p><b>Definition of Done</b></p>
      The user can easily navigate the website and find what they need quickly. Navigation is logically organized. The
      site is responsive to screen size on which it is displayed, and the user does not need to pan or zoom to navigate
      the website. The website is accessible from an evergreen browser.
    </ol>

    <li>
      <h4>Performance</h4>
      <ol>
        <li>The site should respond to a request in no longer than 2 seconds from 10 mbps ethernet connection or 4G
          mobile connection.</li>
      </ol>
      <p><b>Definition of Done</b></p>
      The response time of application is maximum 2 seconds.
    </li>
    <li>
      <h4>Multiple Payment Methods</h4>
      <ol>
        <li>
          The site should be able to accept the following payment methods:
          <ul>
            <li>Visa</li>
            <ul>
              <li>Debit & Credit</li>
            </ul>
            <li>Mastercard</li>
            <ul>
              <li>Debit & Credit</li>
            </ul>
            <li>American Express</li>
            <ul>
              <li>Debit & Credit</li>
            </ul>
            <li>Discover </li>
            <ul>
              <li>Debit & Credit</li>
            </ul>
            <li>Paypal</li>
            <li>Cryptocurrency</li>
            <li>Android Pay</li>
            <li>Apple pay</li>
            <li>Beak’em Bucks</li>
          </ul>
        </li>
        <li>The site should integrate with the Stripe API to provide secure payments.</li>
      </ol>
      <p><b>Definition of Done</b></p>
      All requested payment methods have been implemented and can be used successfully.
    </li>
    <li>
      <h4>Simulated Merchandise Preview</h4>
      <ol>
        <li>The user should be able to upload an image.</li>
        <li>The site should be able to place that photo on specified merchandise and show a rendering to the user.</li>
        <li>The merchandise picture should have a static place for the uploaded picture.</li>
        <li>The user will not be able to move the picture on merchandise.</li>
        <li>The user should crop the picture before uploading to the site. Cropping images is out of scope.</li>
        <li>Stock images of the merchandise with a placeholder for the uploaded image will be provided by the marketing
          team.</li>
        <li>The user should be able to click the rendered image to enlarge the image.</li>
      </ol>
      <p><b>Definition of Done</b></p>
      Users can upload a picture of themselves and see themselves on KU merchandise.
    </li>
    <li>
      <h4>
        Ticket Sales</h4>
      <ol>
        <li>User should be logged into their KU account to view events</li>
        <li>Provide an event calendar for all KU Athletics</li>
        <li>Clicking an event on the calendar will deep link into KU Athletics website to purchase tickets.</li>
        <ul>
          <li>
            Example link: <a
              routerLink="/requirements">https://kuathletics.evenue.net/cgi-bin/ncommerce3/SEGetEventInfo?ticketCode=GS%3AKU%3ASB22%3A01%3A&linkID=kansas&shopperContext=&pc=&caller=&appCode=&groupCode=&cgc=
            </a>
          </li>
        </ul>
      </ol>
      <p><b>Definition of Done</b></p>
      Students, faculty, and other KU staff can successfully order tickets for sports and other events
    </li>
    <li>
      <h4>
        Automatic Price Matching</h4>
      <ol>
        <li>The site should automatically price match merchandise & equipment with the following websites:</li>
        <ul>
          <li>Amazon - Books, Apparel, Equipment</li>
          <li>Rally House - Apparel</li>
          <li>Chegg - Books</li>
          <li>Apple - Equipment</li>
          <li>Best Buy - Equipment</li>
        </ul>
      </ol>
      <p><b>Definition of Done</b></p>
      Prices are matched to current prices from the listed websites.
    </li>
    <li>
      <h4>
        Community Hub</h4>
      <ol>
        <li>
          The site should offer a forum to be utilized by students and staff for any academic purpose. The user will use
          their existing KU login.
        </li>
        <li>
          The following are user roles for the forum:
          <ul>
            <li>Administrator - Director of KU Bookstore</li>
            <ul>
              <li>User Management</li>
            </ul>
            <li>Staff - KU Bookstore Staff</li>
            <ul>
              <li>Moderation</li>
              <li>User Management</li>
            </ul>
            <li>Faculty</li>
            <ul>
              <li>Moderation</li>
            </ul>
            <li>Student</li>
            <ul>
              <li>Community Hub Access</li>
            </ul>
          </ul>
        </li>
      </ol>
      <p><b>Definition of Done</b></p>
      Students can log into a community forum online and communicate with other student, staff, and faculty.
    </li>
    <li>
      <h4>
        Discount Hub</h4>
      <ol>
        <li>The site should offer a list of establishments that offer discounts to Users for the following:</li>
        <ul>
          <li>Restaurants</li>
          <li>Electronics</li>
          <li>Clothes</li>
          <li>Events</li>
          <li>Books</li>
          <li>Travel</li>

        </ul>
        <li>Additionally, the site should contain a page to purchase clearance merchandise.</li>
      </ol>
      <p><b>Definition of Done</b></p>
      Users will receive a list of discount retailers, and the ability to purchase clearance merchandise
      in the KU Bookstore.
    </li>
    <li>
      <h4>
        In-text Book Search</h4>
      <ol>
        <li>The site should offer the ability to search for category based keywords in textbooks. The site should return
          the results by searching the text of all books for the specified key words.</li>
        <li>The user will specify the category of books to search. For example, economics majors should only search in
          economic books.</li>
        <li>The user should have the ability to further refine the search by</li>
        <ul>
          <li>Date</li>
          <li>Author</li>
          <li>Publisher</li>
          <li>Type of publication (book, magazine, journal, etc)</li>
        </ul>
      </ol>
      <p><b>Definition of Done</b></p>
      Users can search for a keyword in the search bar, and then books with that keyword are displayed filtered by
      category and other optional filters.
    </li>
    <li>
      <h4>Outdoor Pick-up/Drop-Off</h4>
      <ol>
        <li>The site should allow the user to schedule:</li>
        <ul>
          <li>Book return & pickup</li>
          <li>Repair drop off & Pickup</li>
          <li>Merchandise pickup</li>
        </ul>
      </ol>
      <p><b>Definition of Done</b></p>
      Users can schedule pick-up / drop-off on the KU bookstore website.
    </li>
    <li>
      <h4>
        Online Course Signup</h4>
      <ol>
        <li>The site should offer the ability to enroll in courses.</li>
        <li>Link to the course selection page of Enroll & Pay.</li>
        <li>The user can enroll and pay for classes on the Enroll & Pay site.</li>
      </ol>
      <p><b>Definition of Done</b></p>
      Students can join courses and access Enroll & Pay directly on the KU Bookstore website.
    </li>
    <li>
      <h4>
        Feedback Functionality</h4>
      <ol>
        <li>The site should support user feedback through the following channels:
          <ul>
            <li>Chat - With KU bookstore staff.</li>
            <li>Phone</li>
            <li>Email - KU Bookstore staff. An email mailbox will need to be setup by IT</li>
          </ul>
        <li>The user should have the ability to review merchandise.</li>
        <li>The user must be logged into their KU account to create a review.</li>
      </ol>
      <p><b>Definition of Done</b></p>
      <ul>
        <li>Users can submit feedback on the KU Bookstore website.</li>
        <li>Users can chat with bookstore staff to answer questions.</li>
        <li>Users can call the phone number listed on the site to speak with KU bookstore staff.</li>
      </ul>
    </li>
  </ol>
</div>