<h1>Requirements</h1>
<hr />
<div>
  <ol>
    <p>
      <li>Ease of Use</li> Utilize modern day web CMS to providing an easy-to-use
      website for the Administrator and end user
    </p>
    <p>
      <li>Latency</li> Maximum of 2 second response time from 10mbps connection
      over ethernet on a modern machine.
    </p>
    <p>
      <li>Multiple Payment Methods</li> All major credit cards, Paypal,
      Cryptocurrency, Android Pay, Apple pay and Beak’em Bucks.
    </p>
    <p>
      <li>Simulated Merchandise Preview</li> Upload an image of the student to
      place a 3D render of the merchandise on the student.
    </p>
    <p>
      <li>Ticket Sales</li> Student ticket sports and event offerings, comparable
      to current ticket services.
    </p>
    <p>
      <li>Automatic Price Matching</li> Automatically matches merchandise,
      equipment and or books to Amazon and all OEM websites.
    </p>
    <p>
      <li>Community Hub</li> Forum to be utilized by students and staff for any
      academic purpose. Creating an account with verified KU email also creates
      a forum account, SSO applicable.
    </p>
    <p>
      <li>Discount Hub</li> Substantial discounts offered to students and staff,
      in total.
    </p>
    <p>
      <li>In-text Book Search</li> Search any textbook by utilizing a unique
      string of text from the applicable writing.
    </p>
    <p><li>Outdoor Pick-up/Drop-Off</li> Feedback Functionality</p>
    <p>
      <li>Online Course Signup</li> Deep link to enroll and pay, signup for
      classes and pay tuition.
    </p>
    <p>
      <li>Feedback Functionality</li> Support functionality (Chat, Phone & Email)
      as well as merchandize review, linked to forum account.
    </p>
  </ol>
</div>
