<h1>Team Profiles</h1>
<hr/>
<h2>Laura Slocum</h2>
<div class="profile">
  <img class="rectangle" src="../../assets/team-photos/Laura.jpg" />
  <div class="details">
    <p>
      Laura is a Software Architect at Moonshot Innovations. She has a passion
      for leading teams, JavaScript, and learning new technologies. Recently she
      has been learning cloud computing and building scalable applications with
      Azure.
    </p>

    <h3>Project Roles</h3>
    <p>
        Laura will be serving as the project's architect and developer.
    </p>
    <h3>Experience</h3>
    <div>
      <p>
        Laura has worked in multiple project environments, including waterfall,
        scrum, and Kanban, over her 9-year career in software development.
      </p>
      <p>
        Laura has excellent leadership skills. She successfully ran a major
        project as the technical lead. For 3 years, she led 13 teams across 3
        continents coordinating efforts and ensuring every team knew the plan
        and executed it accordingly. At the same time, she led her own framework
        team, which tackled the hardest to solve problems of the system.
      </p>
      <p>
        Today she makes architectural and UI/UX decisions. She discusses ideas
        with leadership, puts the vision into wireframes so everyone can
        visualize what will be built, and then creates high-level architecture
        documents. She also works closely with teams to make sure they clearly
        understand what they are building and how.
      </p>
    </div>
    <h3>Skills</h3>
    <div>
      <p>
        <strong>JavaScript</strong> • Angular • NGRX • RXJS • Jasmine • Cypress
        • React • Redux • Jest
      </p>
      <p><strong>Web</strong> • HTML • CSS • SCSS</p>
      <p><strong>C#</strong> • LINQ • Entity Framework • ASP.NET</p>
      <p>
        <strong>Azure</strong> • Functions • Containers (Docker) • Cosmos DB •
        SQL
      </p>
      <p><strong>Project Management</strong> • Waterfall • Scrum • Kanban • SaFE</p>
      <p><strong>Misc.</strong> • IIS • Adobe XD</p>
    </div>

    <h3>Education</h3>
    <div>
      <ul>
        <li>
          Master of Science, Information Technology, University of Kansas
          (Pending)
        </li>
        <li>
          Bachelor of Business Administration – Computer Information Systems,
          Pittsburg State University.
        </li>
        <li>
          Continuously learning through technical journals and conferences
        </li>
      </ul>
    </div>
  </div>
</div>
<hr/>
<h2>Christopher Herdoiza</h2>
<div class="profile">
  <img src="../../assets/team-photos/Christopher.jpg" />
  <div class="details">
    <p>
      IT Engineer, with a robust background in Technical Project Management,
      People Management, Telecommunications & CRM. Proven team-building,
      technical and communication skills required for the facilitation of
      advanced technology.
    </p>

    <h3>Project Roles</h3>
    <p>
        Christopher will be serving as the project's QA, Content Editor, and Client Liaisons.
    </p>

    <h3>Experience</h3>
    <div>
      <p>
        Christopher has seven years of people management experience, budgeting
        and CRM. Five years of Technical Project/Program Management. Lastly, 3
        years of Telecommunications and IoT experience.
      </p>
      <p>
        He is currently working for T-Mobile in their Technology Program
        Management Office, as a Technical Project Manager. This positions
        focuses on Product Commercialization, Program Management and Executive
        Communication/Relay.
      </p>
    </div>
    <h3>Skills</h3>
    <div>
      <p>
        <strong>Technical</strong> • Telecommunication • IoT • Web Development •
        Troubleshooting • Systems Integration • Systems Administration • QA •
        Blockchain • HTML & CSS • SQL • Bash • Shell • SEO • SaaS • QA •
        WordPress • Drupal • Magento • Ecommerce • JIRA • Basecamp • VirtualBox
        • Apache • IIS • Windows (Server/XP-10) • OS 10 (.6-.12) • Unix & Linux
        • iOS • Android • Microsoft Office • Google Docs
      </p>
      <p>
        <strong>Administrative</strong> • Program Management • Project
        Management • People Management • Executive Communication • CRM • Agile •
        Waterfall • Compliance • Client Liaisons • Sales • Leadership • Hiring •
        Team-Building • Conflict Resolution • Onboarding • Negotiation • SLA's •
        RFP's
      </p>
    </div>

    <h3>Education</h3>
    <div>
      <ul>
        <li>
          Master of Science, Information Technology, University of Kansas
          (Pending)
        </li>
        <li>
          Bachelors of Science, Information Technology, University of Kansas
        </li>
        <li>Bachelors of Arts, Political Science, University of Kansas</li>
      </ul>
    </div>
  </div>
</div>
<hr/>
<h2>Niklas Meissner</h2>
<div class="profile">
  <img src="../../assets/team-photos/Niklas.jpg" />
  <div class="details">
    <p>
      Product Owner at T-Systems International GmbH and graduate student at the
      University of Stuttgart in Software Engineering. Good knowledge of
      frontend techniques, agile software development and project management.
    </p>

    <h3>Project Roles</h3>
    <p>
        Niklas will be serving as the Project and Product Manager.
    </p>

    <h3>Experience</h3>
    <div>
      <p>
        Three years of "dual" Bachelor studies with parallel work as a software
        engineer at Deutsche Telekom AG. This includes working in various
        project teams, all of which work according to Scrum. After graduation,
        employment as IT-Architect in similar projects with new tasks and new
        experiences. Worked as IT-Architect for one year to drive the
        development of new software in the automotive field and then switched to
        Product Owner to get more contact with customers and focus on customer
        needs instead of pure development.
      </p>
    </div>
    <h3>Skills</h3>
    <div>
      <p>
        <strong>Technical</strong> • Python • HTML / CSS • Java • Angular • SQL
        • UML • Amazon Web Services • MS Project • MS Office • Adobe XD • Sparx
        Enterprise Architect • Adobe Photoshop • Git / Git Flow • JIRA ∙
        Confluence • Windows • Linux / Unix
      </p>
      <p>
        <strong>Administrative</strong> • Project Management • Scrum ∙
        IT-Consulting • Responsive webdesign
      </p>
    </div>

    <h3>Education</h3>
    <div>
      <ul>
        <li>
          Master of Science, Information Technology, University of Kansas
          (Pending)
        </li>
        <li>
          Graduate Direct Exchange (GDX) - Computer Science and Leadership,
          University of Kansas
        </li>
        <li>
          Master of Science (M.Sc.) - Software Engineering, University of
          Stuttgart
        </li>
        <li>
          Bachelor of Science (B.Sc.) - Applied Computer Science, University of
          Telecommunications Leipzig
        </li>
      </ul>
    </div>
  </div>
</div>
